@model HeroViewModel

@{
	// HTML Ids cannot start with a number.
	var modalId = string.Format("d{0}", Model.Id);
}

<button type="button" class="btn btn-outline-primary fa fa-trash" data-bs-toggle="modal" data-bs-target="#@modalId"> </button>
<div class="modal fade" id="@modalId">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"> Delete Hero </h5>
			</div>
			<div class="modal-body">
				<span>Are you sure you want to delete @Model.Alias? This action is irreversible. </span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"> Cancel </button>
				<a class="btn btn-outline-primary" asp-controller="Hero" asp-action="Delete" asp-route-id="@Model.Id"> Delete </a>
			</div>
		</div>
	</div>
</div>