@model HeroFormModel

@{
	ViewData["Title"] = "New Hero";
}

<h1> @ViewData["Title"]  </h1>
<hr />

@if (ViewBag.Success ?? false)
{
	<p class="text-success"> Hero succesfully created! </p>
}
else
{
	<div class="text-danger">
		@Html.ValidationSummary()
	</div>
}

<form asp-action="Create" method="post">
	<partial name="_HeroForm" model="@Model" />

	<br />

	<div>
		<a class="btn btn-dark" type="button" asp-action="RedirectToLastVisitedIndexPage"> Cancel </a>
		<button class="btn btn-primary" type="submit"> Create </button>
	</div>

</form>