@model HeroFormModel

@{
	ViewData["Title"] = "New Hero";
}

<h1> @ViewData["Title"]  </h1>
<hr />

<div class="text-danger">
	@Html.ValidationSummary()
</div>

<form asp-action="Create" method="post">
	<partial name="_HeroForm" model="@Model" />

	<br />

	<div>
		<a class="btn btn-outline-dark" type="button" asp-action="RedirectToLastVisitedIndexPage"> Cancel </a>
		<button class="btn btn-outline-primary" type="submit"> Create </button>
	</div>

</form>