@model (HeroFormModel heroFormModel, Guid idToUpdate)

@{
	ViewData["Title"] = "Update Hero";
}

<h1> @ViewData["Title"]  </h1>
<hr />

<form asp-action="Update" asp-route-id="@Model.idToUpdate" method="post">

	<div class="text-danger">
		@Html.ValidationSummary()
	</div>

	<partial name="_HeroForm" model="@Model.heroFormModel" />

	<br />

	<span>
		<a class="btn btn-dark" type="button" asp-action="RedirectToLastVisitedIndexPage"> Cancel </a>
		<button class="btn btn-primary" type="submit"> Update </button>
	</span>
</form>
